.card {
    display: flex;
    flex-direction: column;
    background-color: black; 
    color: white; 
    width: 43.2rem; 
    height: 20rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    transition: background-color 0.3s;
    border: 2px solid white; 
}

.card-hovered {
    background-color: rgba(255, 255, 255, 0.1); 
}

a {
    text-decoration: none; 
    color: inherit; 
    display: inline-block;
    padding: 10px;
}

.card a {
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

.status-text {
    text-align: left; 
}

.location-text, .first-text {
    color: white; 
}
