body {
  background-color: black; 
  color: white; 
}

.custom-font {
  font-family: "InterLigero", sans-serif;
  font-weight: 300; 
  font-style: normal; 
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}
